[submodule "NSString+NSCharacterSetTesting"]
	path = NSString+NSCharacterSetTesting
	url = /Users/tsanders/code/GitHubRepos/NSString+NSCharacterSetTesting
	fetchRecurseSubmodules = true
	ignore = all
[submodule "UISplitViewController+QuickAccess"]
	path = UISplitViewController+QuickAccess
	url = /Users/tsanders/code/GitHubRepos/UISplitViewController+QuickAccess
	fetchRecurseSubmodules = true
	ignore = all
[submodule "iOS7Colors"]
	path = iOS7Colors
	url = /Users/tsanders/code/ThirdParty/iOS7Colors
